@{
    ViewData["Title"] = "Home Page";
}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="The HTML5 Herald">
        <meta name="author" content="SitePoint">
        <link href="css/stylesheet.css" type="text/css" rel="stylesheet" />
    </head>

    <body>
    <div id="headtext"><h1>Producten</h1>
        <p>Klik op producten overzicht om naar het overzicht van alle producten te gaan.<br/>
        Op het overzicht kunt u producten toevoegen, bewerken en verwijderen.
        </p>
    </div>
        
    </body>
</html>